<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hstc.edu.mapper.StuCustomMapper" >
    <resultMap id="getStuRestultMap" type="hstc.edu.po.Stu">
        <result column="sno" property="sno"/>
        <result column="sname" property="sname"/>
        <result column="ssex" property="ssex"/>
        <result column="sbirth" property="sbirth"/>
        <result column="address" property="address"/>
        <result column="class_1" property="class1"/>
        <result column="college" property="college"/>

    </resultMap>
    <!-- 分页使用SQL -->
    <select id="getStuByPage" parameterType="int"  resultMap="getStuRestultMap" >
        select * from stu limit #{value1},12
    </select>
    <select id="findStuList" resultMap="getStuRestultMap">
        SELECT *FROM stu
    </select>
    <select id="findStuListBySno" parameterType="java.lang.String" resultMap="getStuRestultMap">
        SELECT * FROM stu WHERE  sno=#{value}
    </select>
    <select id="finStuBySno" parameterType="java.lang.String" resultMap="getStuRestultMap">
        SELECT * FROM stu WHERE sno=#{value}
    </select>
</mapper>